@font-face {
    font-family: 'Lato-Light', sans-serif;
    src: url(../fonts/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lato-Regular', sans-serif;
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato-Bold', sans-serif;
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lato-Black', sans-serif;
    src: url(../fonts/Lato-Black.ttf);
    font-weight: 900;
}

html {
    font-family: 'Lato', sans-serif;
}

body, h1, h3, h4, p, ul, li {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header__wrapper {
    background-color: #222;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 41px;
    padding-top: 18px;
    padding-bottom: 19px;
    align-items: center;
}

.menu__icon {
    padding-right: 31px;
}

.first__sec__wrapper {
    background-color: #F1E4E6;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.intro__info {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.intro__title {
    color: #222;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.intro__subtitle {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.intro__pink {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.dropdown-menu {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.dropdown-menu__titile {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-left: 33px;
    margin-bottom: 24px;
}

.dropdown-menu__subtitle {
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-left: 32px;
}

.dropdown-menu__list {
    list-style-type: none;
    margin-top: 12px;
}

.dropdown-menu__list-item {
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 74px;
}

.dropdown-menu__item {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.main-menu-item:hover .dropdown-menu {
    display: block;
    z-index: 999;
}

.offer {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.offer__other {
    grid-column: span 3;
}

.offer__item {
    position: relative;
}

.offer__item::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(33, 22, 22, 0.70);
}

.offer__img {
    display: block;
    width: 100%;
    height: auto;
}

.offer__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.offer__black__txt {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.offer__pink__txt {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.goods {
    margin-top: 66px;
}

.goods__title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.goods__txt {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.goods__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 48px;
}

.goods__item {
    background-color: #F8F8F8;
}

.goods__item__img__wrapper{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(58, 56, 56, 0.86);
    justify-content: center;
    align-items: center;
}

.overlay__add-to-cart {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FFF;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.goods__item__img__wrapper:hover .overlay {
    display: flex;
}

.goods__info {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.info__subtitle {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.info__txt {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal; 
}

.goods__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.good__info__btn {
    margin-top: 48px;
    margin-bottom: 60px;
    text-align: center;
}

.goods__btn {
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
    border: #F16D7F solid 1px;
    background-color: inherit;
}

.goods__btn:hover {
    color: #FFF;
    background-color: #E05C6E;
}

.feature-wrapper {
    background-color: #222224;
    max-width: 1600px;
    margin: 0 auto;
}

.feature {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 103px;
    padding-bottom: 104px;
}

.feature__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
}

.feature__title {
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 25px;
}

.feature__txt {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
    line-height: normal;
    padding-top: 16px;
}

.subscribe-wrapper {
    background-image: url(../img/subscribe_img.png);
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 156px;
}

.subscribe__opinion {
    margin-top: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.subscribe__opinion__txt {
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    max-width: 360px;
}

.subscribe__promotion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.subscribe__promotion__title {
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%; /* 40.128px */
}

.subscribe__promotion__txt {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
}

.user-registration {
    margin-top: 32px;
    display: flex;
}


.user-registration__input {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.subscribe__promotion__btn {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.footer-wrapper{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #222224;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer__rights{
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer__contacts {
    display: flex;
    gap: 7px;
}

.footer__icon-item:hover #background {
    fill: #F16D7F;
}

.footer__icon-item:hover #icon {
    fill: #FFF;
}

@media screen and (max-width: 1439px) {
    .container {
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .logo {
        padding-left: 16px;
    }

    .menu__icon {
        padding-right: 25px;
    }

    .second__menu {
        padding-right: 41px;
    }

    .first__sec__wrapper {
        max-width: 1439px;
    }

    .intro {
        gap: 39px;
        margin: 0 auto;
    }

    .intro__title {
        font-size: 44px;
    }
    .intro__subtitle {
        font-size: 24px;
    }
    .intro__pink {
        font-size: 24px;
    }

    .offer {
        gap: 20px;
    }

    .goods {
        margin-top: 110px;
    }

    .goods__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 16px;
        margin-top: 73px;
    }

    .goods__item {
        display: flex;
        flex-direction: column;
    }

    .goods__img {
        max-width: 100%;
    }

    .goods__info {
        padding: 24px 29px 20px 16px;
    }

    .good__info__btn {
        margin-top: 32px;
        margin-bottom: 95px;
    }

    .feature {
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        flex-direction: column;
        padding-top: 64px;
    }

    .subscribe-wrapper {
        background: linear-gradient(rgba(244, 244, 244, 0.7), 
        rgba(244, 244, 244, 0.7)),
        url(../img/tablet/subscribe_tablet.png);
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .subscribe__opinion {
        margin-top: 64px;
    }

    .subscribe__promotion {
        margin-top: 48px;
    }

}

@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .second__menu {
        display: none;
    }

    .third__menu {
        display: none;
    }

    .intro__img {
        display: none;
    }

    .intro {
        padding-top: 148px;
        padding-bottom: 149px;
        gap: 0;
    }

    .intro__title {
        font-size: 38px;
    }

    .intro__subtitle {
        font-size: 20px;
    }

    .intro__pink {
        font-size: 20px;
    }

    .intro__info {
        padding-left: 15px;
    }

    .offer {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .goods {
        margin-top: 64px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .goods__cards {
        margin-top: 64px;
        grid-template-columns: 1fr;
    }

    .good__info__btn {
        margin-top: 40px; 
        margin-bottom: 85px;
    }

    .feature {
        flex-direction: column;
        gap: 46px;
        padding-top: 48px;
        padding-bottom: 81px;
    }

    .subscribe {
        gap: 59px;
        padding-bottom: 110px;
    }

    .footer {
        flex-direction: column-reverse;
        padding-top: 43px;
        padding-bottom: 9px;
        gap: 40px;
    }
}